
label {
  margin-bottom: 10px;
  display: block;

}

.row{
	margin-top: 3%
}

#recap{
	background-color: #eeeeee;
	width: 90%;
	height: 450px;
	margin: 5%;
}

.recap-item{float: right}
table{width: 100%;
  margin: 2%;
  font-size: 1.1rem;
}
.btn{width: 100%;margin-top: 40px;
font-size: 1.1rem}

.nav-pills > li.nav-item>.active{
    background-color:#198754;
    }
.scroll{
  height: 85%;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
-ms-overflow-style: none; 
scrollbar-width: none; 
}

#payment{margin-top: 5%;display: none;}